html{
background-color:#fffff;
color:#000000;
font-family: 'lato',Arial, sans-sarif;
font-weight:100;
font-size:20px;
text-rendering:optimizelegibility;
line-height:130%;
   }
header{
   position:relative ;
    width:100%;
    text-align:center;                                                                    
    background-image: url(images/lap.jpg);
        height:100vh;
    background-size: cover;
    background-position:center;
    }


h1{
    font-size:150%;
    font-weight:50;
    color:brown;
    text-transform:uppercase;
    font-size:150%;
    line-height:130%;
    letter-spacing:1px;
    word-spacing:3px;
}
.button{
    display:inline-block;
    padding:15px 20px;
    color:yellow;
    font-weight:300;
    border:1px solid rgba(0,0,255,0.3);
    border-radius:50px;
}

.button:visited{
    background-color:#f83288;
    transition:background-color 5s;
}
.button:hover,
.button:active{
background-color:#a43537;
    
}
.center-text{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.main-navigation{
    float:left;
    list-style:none;
   }

.main-navigation li{
   display:inline-block;
    margin-left:50px;
    text-decoration:none;
    text-transform:uppercase;
    
}
.main-navigation li a{
    color:white;
    font-size:90%;
    transition: background-color 5s;
}




